<!DOCTYPE html>
<html lang="en">

<head>
    {{>headtagLinks}}
</head>

<body>
    <section class="home show-animate" id="home">
        <div class="home-content">
            <h1>{{errorMsg}}<span class="animate" style="--i:1;"></span></h1>
            <p>The link you followed probably broken or the page has been removed.<span class="animate"
                    style="--i:4;"></span></p>
            <div class="btn-box">
                <a href="/" class="btn">Go Back</a>
                <span class="animate" style="--i:3;"></span>
            </div>
        </div>

        <div class="image-contain">
            <div class="image-container">
                <img class="image" src="images/img.png" alt="">
            </div>
        </div>
        <div class="image-hover"></div>
    </section>



    <script src="js/script.js"></script>
</body>

</html>