<!DOCTYPE html>
<html lang="en">

<head>
    {{>headtagLinks}}
</head>

<body>

    <!-- header design -->
    {{>navbar}}

    <!-- home section design -->
    {{>home}}

    <!-- about section design -->
    {{>about}}

    <!-- education section design -->
    {{>education}}

    <!-- skills section design -->
    {{>skills}}

    <!-- projects section design -->
    {{>projects}}

    <!-- contact section design -->
    {{>contact}}

    <!-- footer design -->
    {{>footer}}


    <script src="js/script.js"></script>
</body>

</html>