<section class="about" id="about">
    <h2 class="heading">About <span>Me</span><span class="animate scroll" style="--i:1;"></span></h2>
    <div class="about-content">
        <h3>Full Stack Web Developer!<span class="animate scroll" style="--i:2;"></span></h3>
        <p>Hello! I'm Faizan Alam, a passionate Full Stack Web Developer with a strong background in creating dynamic
            and user-friendly web applications. I bring 2 years of experience to the table, where I've had the
            opportunity to work with a diverse range of technologies and frameworks.<span class="animate scroll"
                style="--i:3;"></span></p>
        <div class="btn-box btns">
            <a href="#" class="btn">Read More</a>
            <span class="animate scroll" style="--i:4;"></span>
        </div>
    </div>
</section>