<footer class="footer">
    <div class="footer-text">
        <p>Copyright &copy; 2023 by Faizan Alam | All Rights Reserved.</p>
        <span class="animate scroll" style="--i:1;"></span>
    </div>
    <div class="footer-iconTop">
        <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
        <span class="animate scroll" style="--i:2;"></span>
    </div>
</footer>