<section class="home show-animate" id="home">
    <div class="home-content">
        <h1>Hi, I'm <span>Faizan Alam</span><span class="animate" style="--i:2;"></span></h1>
        <div class="text-animate">
            <h3 class="web">Full-stack Web Developer</h3>
            <span class="animate" style="--i:3;"></span>
        </div>
        <p>A passionate Full Stack Web Developer having an experience of building Web application with HTML5/ CSS/
            JavaScript/ Node.js/ Express.js/ MongoDB and some cool libraries and frameworks.<span class="animate"
                style="--i:4;"></span></p>
        <div class="btn-box">
            <a href="Resume.pdf" class="btn">Resume</a>
            <a href="#contact" class="btn">Let's Talk</a>
            <span class="animate" style="--i:5;"></span>
        </div>
    </div>

    <div class="home-sci">
        <a href="https://www.linkedin.com/in/faizan-alam-45b029240/"><i class='bx bxl-linkedin'></i></a>
        <a href="https://github.com/Faizanalam416?tab=repositories"><i class='bx bxl-github'></i></a>
        <a href="mailto:b200125@nitsikkim.ac.in"><i class='bx bxs-envelope'></i></i></a>
        <a href="tel:+919065679512"><i class='bx bxs-phone'></i></a>
        <span class="animate" style="--i:6;"></span>

    </div>
</section>