<header class="header">
    <a href="#" class="logo">Faizan.<span class="animate" style="--i:1;"></span></a>

    <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:2;"></span></div>

    <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#education">Education</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>

        <span class="active-nav"></span>
        <span class="animate" style="--i:2;"></span>
    </nav>
</header>