<section class="education" id="projects">
    <h2 class="heading">My <span>Projects</span><span class="animate scroll" style="--i:1;"></span></h2>

    <div class="education-row">
        <div class="education-column">
            {{!-- <h3 class="title">Education<span class="animate scroll" style="--i:2;"></span></h3> --}}
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> June 2022 to July 2022 </div>
                        <h3>Website "la-cafe"</h3>
                        <p><a href="https://github.com/Faizanalam416/la-cafe---website">This is my repository click
                                here</a></p>
                        <p>Designed and built responsive web pages using HTML, CSS, and Bootstrap. Proficient in
                            front-end development, creating visually appealing and user-friendly interfaces with strong
                            design sensibilities.</p>
                    </div>
                </div>
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> June 2022 to July 2022 </div>
                        <h3>Website "Portfolio"</h3>
                        <p><a href="https://github.com/Faizanalam416/Portfolio">This is my repository click
                                here</a></p>
                        <p>A technology-focused website was built using Node.js, incorporating Express, Mongoose, HBS,
                            and Dotenv. It features a custom handler for functionality, with development credited to the
                            creator.</p>
                    </div>
                </div>
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> June 2023 to July 2023 </div>
                        <h3>Webapp "CRUD APP"</h3>
                        <p><a href="https://github.com/Faizanalam416/CRUD_APP">This is my repository click
                                here</a></p>
                        <p>I've developed a web app with frontend dependencies including React, Emotion, Material-UI,
                            Bootstrap, and testing libraries. For the backend, I've used Express, MongoDB, and Mongoose
                            with necessary utilities like CORS and dotenv.</p>
                    </div>
                </div>
                <span class="animate scroll" style="--i:3;"></span>
            </div>
        </div>
        <div class="education-column">
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> September 2023 to October 2023 </div>
                        <h3>Webapp "Expense Tracker"</h3>
                        <p><a href="https://github.com/Faizanalam416/Expense_Tracker">This is my repository click
                                here</a></p>
                        <p>I've created a web app with frontend dependencies like React, Axios, Chart.js,
                            styled-components, and more. For the backend, I've used Express, MongoDB, Mongoose, and
                            additional tools like CORS and dotenv.</p>
                    </div>
                </div>
                {{!-- <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i> 2017 - 2018</div>
                        <h3>B.tech</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsum, illum, dolorem quod
                            voluptatem aperiam reprehenderit aspernatur beatae dolorum pariatur eum dolore a id
                            adipisci eligendi natus vel? Neque, sunt!</p>
                    </div>
                </div> --}}
                <span class="animate scroll" style="--i:5;"></span>
            </div>
        </div>
    </div>
</section>